@import "rouge-base16-dark";

:root,
body,
html {
  font-family: 'IBM Plex Mono',monospace;
  font-size: 100%;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
}

body {
  color: $black;
  background-color: $white;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.banner {
  background-color: $purple;
  padding: 0.4rem 1rem;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .img {
    width: 60px;
  }
}

.header {
  background: $black;
  color: $white;
  padding: 2rem 1rem;

  .wrapper {
    padding: 0 2rem;
  }

  .title {
    font-size: clamp(3em, 11.5vw, 6em);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }
}

.content {
  background-color: $white-dark-10;
  padding: 0 1rem;

  .wrapper {
    padding: 2rem;
    background-color: $white;
  }

  .view-on-github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
      font-size: 1rem;
      margin-top: 1rem;
      text-align: center;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    color: $purple;
    font-weight: 500;
  }

  p,
  ul,
  ol {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  p,
  li {
    font-size: clamp(
      var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem)
    );
    max-width: 80ch;
    margin-bottom: 1.5rem;
  }

  h1 {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 3rem;
    --fluid-type-target: 5vw;
  }
  
  h2 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.25rem;
  }
  
  h3 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.25rem;
  }

  ul,
  ol {
    list-style-type: square;
    font-size: 3rem;
    margin-left: 2rem;

    li {
      padding-left: 1rem;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    color: $purple;
  }

}

.footer {
  background: $black;
  color: $white;
  padding: 2rem 1rem;

  a {
    color: currentColor;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .copyright {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
