@import "rouge-base16-dark";

:root,
body,
html {
  font-family: 'IBM Plex Mono',monospace;
  font-size: 100%;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
}

body {
  color: $black;
  background-color: $white;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: $purple;
  padding: 0.25rem 2rem;

  .img {
    width: 60px;
  }
}

.header {
  background: $black;
  color: $white;
  padding: 2rem;

  .title {
    font-size: clamp(3em, 11.5vw, 9em);
    font-style: italic;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  .description {
    font-size: clamp(1em, 20vw, 2em);
    max-width: 60ch;
    line-height: 1.5;
  }
}

.content {
  padding: 2rem;

  h1,
  h2,
  h3,
  h4 {
    color: $purple;
    font-weight: 500;
    font-style: italic;
  }

  p,
  ul,
  ol {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  p,
  li {
    font-size: clamp(
      var(--fluid-type-min, 1rem),
      calc(1rem + var(--fluid-type-target, 3vw)),
      var(--fluid-type-max, 1.3rem)
    );
    max-width: 80ch;
    margin-bottom: 1.5rem;
  }

  h1 {
    --fluid-type-min: 2.5rem;
    --fluid-type-max: 3rem;
    --fluid-type-target: 5vw;
  }
  
  h2 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.25rem;
  }
  
  h3 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.25rem;
  }

  ul,
  ol {
    list-style-type: "☞";
    font-size: 3rem;
    margin-left: 2rem;

    li {
      padding-left: 1rem;
    }
  }

}
