$mobile-sm: "only screen and (max-width: 359px)";
$mobile-lg: "only screen and (max-width: 479px)";
$mobile-xl: "only screen and (max-width: 599px)";
$tablet-md: "only screen and (max-width: 839px)";
$tablet-lg: "only screen and (max-width: 959px)";
$desktop-sm: "only screen and (max-width: 1080px)";