version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
    - 2181:2181
  kafka:
    image: confluentinc/cp-kafka
    depends_on:
    - zookeeper
    environment:
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092, PLAINTEXT_HOST://localhost:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
    - 29092:29092
  schema-registry:
    image: confluentinc/cp-schema-registry
    depends_on:
    - zookeeper
    - kafka
    ports:
    - 8081:8081
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL: zookeeper:2181
  apicurio-registry:
    image: 'apicurio/apicurio-registry-mem:latest-release'
    ports:
    - '8080:8080'
    environment:
      AUTH_ENABLED: "false"
  kafka-manager:
    image: iunera/cmak
    depends_on:
    - kafka
    - zookeeper
    ports:
    - 9000:9000
    environment:
      ZK_HOSTS: zookeeper:2181
