.contact {
  background-color: $purple-dark-10;
  color: $white;
  position: relative;
  overflow-x: hidden;

  .wrapper {
    padding: 254px 0 280px;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
    color: $green;
    margin-bottom: 36px;
  }

  strong {
    font-weight: 500;
  }

  p {
    font-family: $sans;
    font-size: 20px;
    line-height: 2;

    strong {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  a {
    color: $green;
  }

  .kloads {
    width: 700px;
    position: absolute;
    top: 50%;
    right: -240px;
    transform: translateY(-50%);

    .img {
      width: 100%;
    }
  }
}